.container {
    overflow: auto;
}

.toolbar {
    position: fixed;
    top: 60px; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.buscar {
    font-size: 14px;
    width: 35%;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.id {
    width: 7%;
}

.descripcion {
    width: 25%;
}

.unidad {
    width: 10%;
}

.totales {
    width: 10%;
}

.w-75 {
    width: 75px;
    text-align: center !important;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    margin-top: 14vh;
}

.loading {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 6;
}
.loading mat-spinner {
    width: 64pt;
    height: 64pt;
    top: calc(38% - 32pt);
    position: absolute;
}

.space {
    flex: 0.9 1 auto;
}

.search {
    width: 50%;
    font-size: 14px;
}

.informacion {
    width: 27%;
}

//Columns
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0 0.5em;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 45.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 98%;
}

//Pantallas
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    .informacion {
        width: 65%;
    }

    .top {
        margin-top: 23vh;
    }

    .space {
        flex: 0.7 1 auto;
    }
    .buscar {
        width: 45%;
        margin: 0;
        padding: 0;
    }

    .paginator,
    table {
        width: 650px;
    }

    .space {
        flex: 0.6 1 auto;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .informacion {
        width: 50%;
    }

    .top {
        margin-top: 15vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .informacion {
        width: 30%;
    }

    .top {
        margin-top: 50vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .informacion {
        width: 30%;
    }

    .top {
        margin-top: 14vh;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .informacion {
        width: 30%;
    }

    .top {
        margin-top: 32vh;
    }
}

// Monitores
@media (min-width: 1600px) {
    .informacion {
        width: 30%;
    }

    .top {
        margin-top: 23vh;
    }
}

// Monitores Extra
@media (min-width: 2000px) {
    .informacion {
        width: 30%;
    }

    .top {
        margin-top: 15vh;
    }
}
